@import './fonts/bebas-kai/font';
@import './fonts/lexend-mega/font';
@import './fonts/inria-sans/font';


/* Colors */
$primary: #7fbc8c;
$secondary: #e3a018;
$success: #90ee90;
$danger: #ff6b6b;
$info: #007bff;

$white: #ffffff;
$magenta: #e248c0;
$lightsand: #ffdca8;
$sand: #e2b748;

